header {
	width: 100%;
	position: fixed;
	margin: 0 auto;
	z-index: 3;
}

.header-container {
	position: relative;
	text-align: center;

	& h1 {
		padding-top: 4rem;
	}

	& p {
		margin: 2rem 0;
		padding: 0 1rem;
	}

	button:focus {
		outline: none;
	}
}

.menu-toggle {
	position: absolute;
	top: 20px;
	left: 20px;
	background-color: rgba(0, 0, 0, 0.9);
	border: none;
	border-radius: 5px;
}

.bars {
	fill: #eee;
}

@media (max-height: 375px) {
	.header-container {
		& h1 {
			padding-top: 2rem;
		}

		& p {
			margin: 1rem 0;
		}
	}
}
