nav {
	background-color: $background-dark;
	border-right: 2px solid greenyellow;
	color: #eee;
	position: fixed;
	top: 0;
	left: 0;
	width: 200px;
	height: 100vh;
	z-index: 2;
	transform: translateX(-100%);

	& .logo {
		text-align: center;
		padding: 2rem 0;

		& img {
			height: 100px;
			width: 100px;
			border-radius: 50%;
		}
	}

	& ul {
		list-style-type: none;

		& li {
			padding: 1.5rem;
		}

		& li:first-of-type {
			border-top: 2px solid rgba(200, 200, 200, 0.6);
		}

		& a {
			text-decoration: none;
			color: #eee;
		}

		& a:hover,
		& a:focus {
			text-decoration: underline;
		}
	}
}

.menu-toggle {
	background-image: url(../../assets/menu-sprite30.svg);
	animation-duration: 300ms;
	animation-timing-function: steps(9);
	animation-fill-mode: forwards;
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;

	&.play {
		animation-name: open-play;
	}
}

@keyframes open-play {
	0% {
		background-position: 0px 0px;
	}
	100% {
		background-position: -216px 0px;
	}
}
